PORT=5001
# JWT
JWT_SECRET=super-long-secret-key

# Database connected to mongodb atlas
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/quizdb

# User name / Password for reset utils
#MAILGUN
MAILGUN_API_KEY=your-API-key
MAILGUN_DOMAIN=sandboxxxxxxxx.mailgun.org
FRONTEND_URL=https://quiz4all-ygm1.onrender.com

#Node Environment
NODE_ENV=production


