<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Take interactive quizzes after signing in or signing up. Track your results and try again!">
  <title>Admin Authentication</title>
  <!-- <link rel="icon" type="image/x-icon" href=""> -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/reset.css">
  <!-- <script src="https://kit.fontawesome.com/5d07f027c2.js" crossorigin="anonymous"></script>  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body class="admin-container">
<main>
  <div class="admin-sign-page">
      <h1 id="formTitle">Admin Sign In</h1>

      <form id="authForm" autocomplete="on">
        <input type="text"  name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
            <div>
                <label for="password-show">Show Password </label>
                  <input type="checkbox" id="password-show"> 
                <button type="submit" id="submitBtn">Sign In</button>
            </div>
      </form>
      
      <button class="toggle-btn" id="toggleFormBtn">Create an admin account</button>
      <div class="message" id="message"></div>
  </div>
</main>
<script src="https://kit.fontawesome.com/5d07f027c2.js"></script>
<script src="/adminSignScript.js"></script>
</body>
</html>
