<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Take interactive quizzes after signing in or signing up. Track your results">
      <title>Quiz</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  </head>
  
  <body class="body-content">
    <main>
    <section>
      <form id="forgotPasswordForm" method="POST" action="/forgot-password" class="forgot-password">
        <h1>Forgot Paswword</h1>
          <input type="email" name="email" placeholder="Enter your email" required>
          <button type="submit">Send Reset Link</button>
      </form>

      <!-- <p id="loader" style="display:none;">Sending email… <span id="countdown">5</span>s</p> -->
      <p id="message"></p>
    </section>
  </main>
  <script src="/forgot-password.js" defer></script>
  </body>
</html>
